services:
  app:
    build:
      context: .
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    container_name: app_gym_track
    ports:
      - "8000:80"
      - "5176:5173"
      - "8095:8000"
    volumes:
      - ./project:/var/www/html:delegated
    depends_on:
      - db
    networks:
      - laravel_net

  db:
    image: mysql:8.0
    container_name: mysql_gym_track
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: appdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass

      TZ: America/El_Salvador
    command: --sql-mode="NO_ENGINE_SUBSTITUTION,ALLOW_INVALID_DATES,STRICT_TRANS_TABLES"
    ports:
      - "3309:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -prootpass || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s
    networks:
      - laravel_net

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: php_myadmin_gym_track
    depends_on:
      db:
        condition: service_healthy
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: rootpass
    ports:
      - "8092:80"
    volumes:
      - ./uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
    networks:
      - laravel_net

volumes:
  db_data:

networks:
  laravel_net:
    driver: bridge